/* SOBRE */
.box-title {
    background-color: #191919;
    text-align: center;
    color: #fff;
}
.box-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SobreImg {
    width: 350px;
    height: 300px;
}