/* SOBRE */
.box-title {
    background-color: #191919;
    text-align: center;
    color: #fff;
}
.box-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SobreImg {
    height: 300px;
    width: 350px;
}
.links{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.links-a {
    text-decoration: none;
    color: #000;
}
.links-trello{
    height: 25px;
    width: 25px;
}
.link-github{
    height: 25px;
    width: 25px;
}