*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    flex: 1;
    overflow: auto;
}

/// GLOBAL
@import "_header";
@import "_nav";
@import "_footer";
///

//CONTENT INDEX
@import "_index";

//CONTENT FORM
@import "_form";

//CONTENT ABOUT
@import "_about";