<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mystery Shack - Formulario</title>
</head>
<body>
    <header>
        <div class="top">
            <div id="textTop"><span>Mystery Shack</span></div>
        </div>
        <div class="logo-box"><img class="logo" src="/css/src/logo.png" alt="logo">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="formulario">Formulario</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="box-form">
                <form id="form" action="/formulario" method="POST">
                    <%- include('./form_slice/pessoais.ejs') %>
                    <%- include('./form_slice/produto.ejs') %>
                    <div>
                        <button type="submit">enviar</button>
                    </div>
                </form>
        </div>
    </main>
    <footer>
        <p>©Bootcamp Infnet-2021 by:Felipe Siqueira</p>
    </footer>
</body>

<!-- JQuery -->
<script
    src="https://code.jquery.com/jquery-3.2.1.slim.js"
    integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
    crossorigin="anonymous">
</script>
<!-- base64 -preview img -->
<script>
$(function(){
    $('#upload').change(function(){
        const file = $(this)[0].files[0];
        const fileReader= new FileReader;
        fileReader.onloadend = function(){
            $('#preview').attr('src', fileReader.result)
            // console.log(fileReader.result)
        }
        fileReader.readAsDataURL(file)
    })
})

</script> 
</html>