<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/src/cabana.ico" type="image/ico" sizes="16x16">
    <title>Mystery Shack - Formulario</title>
</head>
<body>
    <header>
        <div class="top">
            <div id="textTop"><span>Mystery Shack</span></div>
        </div>
        <div class="logo-box"><img class="logo" src="/css/src/logo.png" alt="logo">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="formulario">Formulario</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="box-title"><p>Mystery Shack Formulario</p></div>
        <div class="box-form">
                <form id="form" action="/formulario" method="POST">
                    <%- include('./form_slice/pessoais.ejs') %>
                    <%- include('./form_slice/produto.ejs') %>
                    <div>
                        <button class="btn-submit" type="submit">enviar</button>
                    </div>
                </form>
        </div>
    </main>
    <footer>
        <p>©Bootcamp Infnet-2021 by:Felipe Siqueira</p>
    </footer>
</body>

<script>

const reader = new FileReader();
const fileInput = document.getElementById("upload");
const hiddenField = document.getElementById("hiddenField");

reader.onload = e => {
    preview.src = e.target.result;
    hiddenField.value = e.target.result;
}

fileInput.addEventListener('change', e => {
    const f = e.target.files[0];
    reader.readAsDataURL(f);
})
</script> 
</html>