<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Mystery Shack</title>
</head>
<body>
    <header>
        <div class="top">
            <div id="textTop"><span>Mystery Shack</span></div>
        </div>
        <div class="logo-box"><img class="logo" src="/css/src/logo.png" alt="logo">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="formulario">Formulario</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
        </div>
    </header>
    <main>
        <div class="imgBackground">
            <div class="shadow"><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo mollitia officiis magni perferendis aut laudantium voluptates dicta architecto quo libero porro perspiciatis, atque repudiandae commodi est iste quibusdam alias sunt?</span>
            </div>
        </div>
        <div class="box">
            <div class="texto">
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error, ipsam necessitatibus! Esse ratione quasi adipisci dolorem non! Placeat, doloribus quasi. Doloribus ab harum aliquam, vero debitis magnam exercitationem modi possimus!                   
                </span>
            </div>
            <div class="doll">
                <img src="/css/src/dipper.png" alt="">
            </div>
        </div>
        <div class="box-btn">
            <div class="btn">
                <a class="big-button" href="/formulario">Formulario</a>
            </div>
        </div>
    </main>
    <footer>
        <p>©Bootcamp Infnet-2021 by:Felipe Siqueira</p>
    </footer>
</body>
</html>