<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/css/src/cabana.ico" type="image/ico" sizes="16x16">
    <title>Mystery Shack - Sobre</title>
</head>
<body>
    <header>
        <div class="top">
            <div id="textTop"><span>Mystery Shack</span></div>
        </div>
        <div class="logo-box"><img class="logo" src="/css/src/logo.png" alt="logo">
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="formulario">Formulario</a></li>
                    <li><a href="sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="box-title"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elite</p></div>
        <div class="box-sobre">
            <img class="SobreImg" src="https://i.pinimg.com/originals/52/6b/c5/526bc55c1fa41696ab677b1ecc82a0fc.png"alt="tst">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, exercitationem accusantium est minima, labore sunt nobis adipisci asperiores illum quidem dolorem inventore mollitia maiores, obcaecati perferendis. In voluptates necessitatibus facilis?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores alias, necessitatibus debitis voluptate quasi assumenda odit laudantium vel nobis maxime illum, id ad optio! Vitae aspernatur alias provident voluptate omnis.</p> 
        </div>
    </main>
    <footer>
        <p>©Bootcamp Infnet-2021 by:Felipe Siqueira</p>
    </footer>
</body>
</html>