<fieldset class="borderFieldset"><legend>Informações Pessoais</legend>
    <div class="formGroup">
        <label for="name">Nome:</label>
        <input value="Felipe" type="text" name="name" placeholder="Nome Sobrenome" required>
    </div>
    <div class="formGroup">
        <label for="email">E-mail:</label>
        <input value="user@email.com" type="email" name="email" placeholder="email@email.com" required>
    </div>
    <div class="formGroup">
        <label for="cpf">Cpf:</label>
        <input value="143.241.234-19" type="text" name="cpf" placeholder="000.000.00-00" required>
    </div>
    <div class="formGroup">
        <label for="phone">Telefone:</label>
        <input value="2499832423" type="tel" placeholder="(DDD)12345-6789" name="phone">
    </div>
</fieldset>